<nav class="navbar navbar-expand-col header">
    <div class="container">
        <a class="navbar-brand logo " href="index.html"><img src="../../../assets/logo.png" alt="" /></a>
        <div class="ml-auto">
            <div class="head_right">
                <div class="hed_r_cols">
                    <a class="btn" data-toggle="modal" data-target="#exampleModal"> Select your City </a>
                </div>
                <div class="hed_r_cols">
                    <a href="" class="btn btn-mar-right">Sign In</a>
                    <a href="" class="btn btn-mar-right">Sign Up</a>
                </div>
                <div class="hed_r_cols">
                    <button class="navbar-toggler nav_trigg" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span></span><span></span><span></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse menu_wrapper" id="collapsibleNavbar">
            <div class="container">
                <ul class="navigation ml-auto">
                    <li><a href="">About Us</a></li>
                    <li><a href="">Fleet Tariff</a></li>
                    <li><a href="">Get In Touch</a></li>
                    <li><a href="">FAQs</a></li>
                    <li><a href="">Media</a></li>
                    <li><a href="">Driven Cafe</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
