.header{ padding: 0 15px; background-color: #e88f0f; z-index: 85; right: 0; box-shadow: 0 0 5px rgba(0,0,0,0.8); }
.navbar-brand{ max-width: 50px; }
.head_right{ display: flex; margin: 0 -15px; align-items: center;}
.head_right .hed_r_cols{ padding: 0 15px; }
.head_right .hed_r_cols select{ font-size: 14px; border:none; background-color: #1e1e1e; color: #e88f0f; height: auto !important;}
.head_right .hed_r_cols a.btn{ background-color: #1e1e1e; color: #e88f0f; font-size: 14px; padding: 5px 15px;box-shadow: 0 3px 18px rgba(0, 0, 0, 0.1);}
.head_right .hed_r_cols a.btn:hover{ background-color: #fff; }
.nav_trigg{padding: 5px;}
.logo > img{width:39px;}
.btn-mar-right{margin-right:9px;}
.nav_trigg span{
display: block; width:30px; height: 2px; background-color: #232323; margin: 6px 0; border-radius: 3px;
transition: all ease 0.2s;
}
.nav_trigg[aria-expanded="true"] span:nth-child(1){
transform: rotate(45deg) translate(6px, 5px);
}
.nav_trigg[aria-expanded="true"] span:nth-child(2){
transform: rotate(-45deg);
}
.nav_trigg[aria-expanded="true"] span:nth-child(3){
transform: translateY(-8px);
opacity: 0;
}

.menu_wrapper{ position: absolute; left: 0; right: 0; top: 83px; background-color: #1e1e1e; }
.navigation{ margin: 0; padding: 0; display: flex; list-style: none;}
.navigation li a{ display: block; padding:6px 40px 6px 0; color: #e88f0f;}
