<app-headerbar></app-headerbar>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 mt-5 align-self-center">
        <div class="panel">
          <form class="example-form row" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
            <mat-form-field class="example-full-width col-sm-12">
              <input matInput placeholder="Email Id o Username"   formControlName="userName">
            </mat-form-field>
            <mat-form-field class="example-full-width col-sm-12">
              <input matInput placeholder="Password"   formControlName="password">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
